@font-face {
	font-family: InterB;
	src: url('../fonts/Inter/Inter-Bold.ttf');
}

@font-face {
	font-family: InterM;
	src: url('../fonts/Inter/Inter-Medium.ttf');
}

@font-face {
	font-family: InterR;
	src: url('../fonts/Inter/Inter-Regular.ttf');
}

@font-face {
	font-family: InterL;
	src: url('../fonts/Inter/Inter-Light.ttf');
}