:root {
	--color-white: #FFFFFF;
	--color-black: #2D3436;
	--color-gray-64: #5C5C5C;
	--color-gray-48: #858585;
	--color-gray-32: #ADADAD;
	--color-gray-24: #C2C2C2;

	--color-blue-dark: #0984E3;
	--color-blue-light: #74B9FF;

	--color-green-dark: #00B894;
	--color-green-light: #55EFC4;

	--color-yellow-dark: #FDCB6E;
	--color-yellow-light: #FFEAA7;

	--color-red-dark: #D63031;
	--color-red-light: #FF7675;

	--color-purple-dark: #6C5CE7;
	--color-purple-light: #A29BFE;

	--color-pink-dark: #E84393;
	--color-pink-light: #FD79A8;

	--font-family-b: InterB, sans-serif;
	--font-family-m: InterM, sans-serif;
	--font-family-r: InterR, sans-serif;
	--font-family-l: InterL, sans-serif;

	--animation-speed: .3s;
	--animation-func: ease;
	--animation: var(--animation-speed) var(--animation-func);
}

body {
	margin: 0;
}
