/* FEATURES */

.main__features,
.main__content,
.main__gallery,
.main__partners {
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}

.main__title,
.main__subtitle {
	margin-bottom: 0;
	font-family: RobotoL, sans-serif;
}

.main__title {
	margin-top: 162px;
	font-size: 62px;
}

.main__subtitle {
	width: 40%;
	text-align: center;
	font-size: 20px;
	margin-top: 27px;
}

.main__image {
	display: flex;
	margin-top: 80px;
}

.main__image ul {
	padding: 0;
    margin-top: -35px;
}

.main__image ul li {
	list-style-type: none;
	margin-top: 35px;
}

.main_li_header {
	display: flex;
	align-items: center;
	font-size: 20px;
	font-family: RobotoM, sans-serif;
}

.main_li_header img {
	margin-right: 13px;
}

.main_li_footer {
	display: inline-block;
	margin-top: 20px;
	width: 270px;
	font-family: RobotoL, sans-serif;
}

/* CONTENT */

.main__cards {
	margin-top: 44px;
	display: flex;
	justify-content: center;
}

.main__card {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 500px;
	background: white;
	border-radius: 10px;
	padding: 40px 35px;
}

.main__card h1 {
	margin: 0;
	color: black;
	font-size: 20px;
	font-family: RobotoM, sans-serif;
	text-align: center;
}

.main__card h5 {
	margin: 0;
	margin-top: 30px;
	color: #5C5C5C;
	font-family: RobotoL, sans-serif;
	text-align: center;
	width: 270px;
}

.first__card {
	margin-right: 33px;
}

/* Gallery */

.gallery__section img {
	border-radius: 12px;
	margin-right: 33px;
}

.gallery__first_row,
.gallery__second_row {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 44px;
}

.gallery__second_row {
	margin-bottom: 44px;
}

/* Partners */

.main__partners {

}

.partners__images {
	margin-left: 74px;
}

.partners__images img {
	margin-right: 74px;
	margin-bottom: 54px;
	margin-top: 54px;
}




















