* {
	box-sizing: border-box;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper {
	background: red;
	width: 500px;
}


.container {
	display: grid;
	/*justify-items: center;
	align-items: center;*/
	/*grid-template: repeat(3, auto) / repeat(3, 1fr);*/
	grid-template-columns: 1fr 1fr 1fr;
	/*grid-template-rows: repeat(3, 300px);*/
	/*grid-column-gap: 30px;
	grid-row-gap: 20px;*/
	/*grid-auto-rows: 300px;
	grid-auto-columns: 300px;*/
	/*background: gray;*/
}

.child {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 50px;
	width: 150px;
	height: 150px;
	border-radius: 5px;
	border: 1px solid black;
}





















.child1 {
	/*width: 200px;*/
	background: #FF6600;
}.child2 {
	/*width: 300px;*/
	/*align-self: start;*/
	background: #CC0033;
}.child3 {
	/*align-self: end;*/
	background: #990066;
}.child4 {
	/*justify-self: start;*/
	background: #6600FF;
}.child5 {
	/*justify-self: end;*/
	background: #006666;
}.child6 {
	background: #339900;
}.child7 {
	background: #FFCC00;
}.child8 {
	background: #33CCFF;
}.child9 {
	background: #33CC99;
}