.main {
	position: relative;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.main-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 80px;
	padding-bottom: 64px;
}

.main-text-title,
.main-text-subtitle {
	color:  var(--color-black);
	font-family: var(--font-family-b);
	margin: 0;
}

.main-text-title {
	font-size: 96px;
}

.main-text-subtitle {
	font-size: 64px;
}

.main-text-fine {
	position: relative;
	color:  var(--color-red-dark);
	text-shadow: 0px 4px 0px var(--color-white);
}

.main-text-fine::after {
	content: '';
	position: absolute;
	left: -5%;
	bottom: 0;
	display: block;
	width: 110%;
	height: 51px;
	border-radius: 999px;
	z-index: -1;
	background: var(--color-green-light);
}

.main-grid {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(3, auto);
	grid-gap: 30px;
	width: 70%;
}

.main-grid img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.main-grid-text1 {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.main-grid-text2 {
	grid-column: 4 / 6;
	grid-row: 1 / 2;
}

.main-grid-image1 {
	grid-column: 1 / 2;
	grid-row: 2 / 4;
}
.main-grid-image2 {
	grid-column: 2 / 4;
	grid-row: 1 / 3;
}
.main-grid-image3 {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}
.main-grid-image4 {
	grid-column: 5 / 6;
	grid-row: 2 / 3;
}
.main-grid-image5 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
.main-grid-image6 {
	grid-column: 3 / 5;
	grid-row: 3 / 4;
}
.main-grid-image7 {
	grid-column: 5 / 6;
	grid-row: 3 / 4;
}

.main-button {
	margin-top: 40px;
	width: 270px;
	height: 82px;
}

.main-background-wave {
	position: absolute;
    width: 100%;
    z-index: -3;
	display: none;
	opacity: .4;
}

.main-background-rectangle,
.main-background-dots {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -2;
}

.main-background-rectangle {
	opacity: .4;
}
.main-background-dots {
	top: 18px;
}


@media (max-width:  1100px) {
	.main-background-rectangle {
		width: 46vw;
	}

	.main-background-dots {
		width: 12vw;
	}

	.main-text-title {
		font-size: 8vw;
	}

	.main-text-subtitle {
		font-size: 5vw;
	}

	.main-text-fine::after {
		height: 47%;
	}

	.main-grid {
		width: 70vw;
		grid-gap: 3vw;
	}
}

@media (max-width: 950px) {
	.main-button {
	    height: 52px;
    	width: 200px;
	}
}

@media (max-width: 700px) {
	.main-grid {
		width: 95vw;
	}
}

@media (max-width:  500px) {
	.main {
		overflow: hidden;
	}
	.main-background-wave {
		top: -150px;
		display: initial;
	}
	.main-background-rectangle {
		width: 70vw;
	}

	.main-background-dots {
		width: 25vw;
	}
	.main-text-title {
		display: flex;
	    flex-direction: column;
	    align-items: center;
	    font-size: 15vw;
	}

	.main-text-title span {
		font-family: var(--font-family-m);
		font-size: 11vw;
	}

	.main-text-subtitle {
		margin-top: 16px;
		font-size: 7vw;
		font-family: var(--font-family-m);
	}

	.main-grid {
		width: 120vw;
	}

	.main-grid-text1,
	.main-grid-text2 {
		display: none;
	}

	.main-button {
		height: 37px;
		width: 130px;
		font-size: 14px;
	}
}















