body {
	margin: 0;
}

:root {
	--main-color: #cc1239;
	--second-color: #134955;
	--fonts: Arial, Helvetica;
}

.container {
	

}

.test2 {
	background: var(--main-color);
	color: var(--second-color);

	font-family: var(--fonts);
}













/*

a - число id
b - число класов, атрибутов, псевдо-классов
c - число псевдоэлементов, тэгов

:not - не учавствует, но селектор внутри участвует
*, комбинаторы - не учавствуют



*               a=0 b=0 c=0 -> специфичность = 000
li              a=0 b=0 c=1 -> специфичность = 001
ul li           a=0 b=0 c=2 -> специфичность = 002
ul ol+li        a=0 b=0 c=3 -> специфичность = 003
h1 + *[href="www."]  a=0 b=1 c=1 -> специфичность = 011
ul ol li.red    a=0 b=1 c=3 -> специфичность = 013
li.red.level    a=0 b=2 c=1 -> специфичность = 021
#test           a=1 b=0 c=0 -> специфичность = 100
#test:not(p)    a=1 b=0 c=1 -> специфичность = 101

*/


